<DefaultPageLayout>
    <div class = "flex flex-col flex-grow h-full">
        <div class = "mx-auto">    
            <div class = "mt-8 text-2xl text-center">
                Browsing the Hub
                
                <a class = "hover:underline text-mizzou-orange" href="#" [routerLink]="'/'">Go back</a>
            </div>
        </div>

        <div>
            <div class = "mt-8 text-2xl text-center">
                Notable Users
            </div>
    
            <CardCarousal [items] = "users"></CardCarousal>
        </div>

        <!--
        <div>
            <div class = "mt-8 text-2xl text-center">
                Notable Projects
            </div>
    
            <CardCarousal></CardCarousal>
        </div>

        <div>
            <div class = "mt-8 text-2xl text-center">
                Notable Groups
            </div>
    
            <CardCarousal></CardCarousal>
        </div>

        <div class = "mb-8">
            <div class = "mt-8 text-2xl text-center">
                Notable Proposals
            </div>
    
            <CardCarousal></CardCarousal>
        </div>
        -->
    </div>
</DefaultPageLayout>