<DefaultPageLayout>
    <div class = "flex-grow">                                
        <div class = "mx-auto md:container my-10">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class = "mx-10 space-y-4">
                <div class = "flex items-center space-x-4">
                    <div class = "w-24">
                        <label class = "flex-initial text-lg">Username: </label>    
                    </div>
                    <input formControlName="username" class = "flex-grow rounded-full" type="text"/>
                </div>
                
                <div class = "flex items-center space-x-4">
                    <div class = "w-24">
                        <label class = "flex-initial text-lg">Password: </label>    
                    </div>
                    
                    <input formControlName="password" class = "flex-grow rounded-full" type="password"/>
                </div>
                <div class="flex">
                    <button [ngClass] = "{
                        'cursor-default': !loginForm.valid,
                        'bg-mizzou-gray': !loginForm.valid,
                        'bg-mizzou-black': loginForm.valid
                    }" [disabled] = "!loginForm.valid" class = "ml-auto text-white px-4 py-2 rounded-full">
                        Submit
                    </button>
                </div>
            </form>
            <div class = "text-center mt-4">
                Don't have an account, <a routerLink = "/signup" class = "text-mizzou-green hover:underline" href = "#">Sign Up</a>
            </div>
        </div>
    </div>
</DefaultPageLayout>