<div>
    <form class="mx-8 mt-4">
        <select class = "rounded-full mb-2">
            <option selected value="projects">Projects</option>
            
            <option value="users">Users</option>
            
            <option value="groups">Groups</option>
        </select>
        <div class = "flex">
            <input class = "rounded-full flex-grow" type="text"/>
    
            <div class = "w-24">
                <button class = "p-4 ml-4 rounded-full bg-mizzou-gold font-bold text-white">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>
