<div class = "mx-8">
    <form [formGroup] = "searchForm" (ngSubmit)="onSubmit()" class="mt-4">
        <select formControlName="searchFilter" class = "rounded-full mb-2">
            <option selected value="projects">Projects</option>
            
            <option value = "project-proposals">Project Proposals</option>

            <option value="users">Users</option>
            
            <option value="groups">Groups</option>
        </select>
        <div class = "flex">
            <input formControlName="searchInput" class = "rounded-full flex-grow" type="text"/>
    
            <div class = "w-24">
                <button class = "p-4 ml-4 rounded-full hover:bg-mizzou-orange bg-mizzou-gold font-bold text-white">
                    Search
                </button>
            </div>
        </div>
    </form>

    <div class="mt-4 mb-4 space-y-4">
        <div *ngFor = "let result of searchResults">
            <ResultCard 
            [genericName]="result.genericName"
            [cardType]="result.type" 
            [projectAttributes]="result.attributes" 
            [projectName]="result.name" 
            [projectDescription]="result.description"></ResultCard>
        </div>
    </div>
</div>
