<DefaultPageLayout>
    <div class = "flex flex-grow h-full">
        <div class = "flex flex-col">
            <div class = "flex-grow w-52 bg-mizzou-gold">
                <div class = "pt-10 text-black">
                    <div class = "px-1 text-center mb-2 text-2xl">Welcome {{authenticatedUser != undefined ? authenticatedUser.username : ""}}</div>
                    <div class = "px-2 text-xl">College: </div>
                    <div class = "px-2 text-xl">Major: </div>
                </div>
                <div class = "mt-10">
                    <div class = "menu-row border-t-4">
                        My Projects
                    </div>
                    <div class = "menu-row">
                        My Friends
                    </div>
                    <div class = "menu-row">
                        My Groups
                    </div>
                    <div class = "menu-row">
                        My Messages
                    </div>
                    <div (click)="logout()" class = "menu-row">
                        X Logout
                    </div>
                </div>
            </div>
        </div>
        <div class = "flex-grow">
            <div class = "mt-4 ml-4 space-y-4">
                <div>
                    <AttributeList (attributedAdded)="newSkillAdded($event)"  [editable] = "true" listName="Skill" [attributeList]="getSkillsList()"></AttributeList>
                </div>
                <div>
                    <AttributeList (attributedAdded)="newDiscliplineAdded($event)" [editable] = "true" listName="Disclipline" [attributeList]="getDiscliplinesList()"></AttributeList>
                </div>
            </div>

            <MainSearch></MainSearch>
            
        </div>
        
    </div>
</DefaultPageLayout>