<DefaultPageLayout>
    <div class = "flex flex-col flex-grow h-full">
        <div class = "mx-auto">    
            <div class = "mt-8 text-2xl text-center">
                Viewing User {{loadedUser?.username}}
            </div>
        </div>

        <div class = "mx-8 space-y-4">
            <div>
                <div class = "font-bold text-xl">Username: </div>
                <div>{{loadedUser?.username}}</div>
            </div>
    
            <div>
                <div class = "font-bold text-xl">Email: </div>
                <div>{{loadedUser?.email}}</div>
            </div>
    
            <div>
                <AttributeList listName = "Skill" [attributeList]="getUserSkills()"></AttributeList>
            </div>
    
            <div>
                <AttributeList listName="Disclipline" [attributeList]="getUserDiscliplines()"></AttributeList>
            </div>
        </div>

        <!-- Projects -->
        <div class = "mx-auto">    
            <div class = "mt-8 text-2xl text-center">
                Projects
                
            </div>
        </div>

        <div class="mt-4 mx-8 mb-4 space-y-4">
            <div *ngFor = "let projectResult of ToProjectCardResults(userProjects)">
                <ResultCard 
                (viewCardEvent)="ViewProject($event)"
                [extraMetaData]="projectResult.id"
                [cardType]="projectCardType" 
                [projectAttributes]="projectResult.attributes" 
                [projectName]="projectResult.name" 
                [projectDescription]="projectResult.description"></ResultCard>
            </div>
        </div>
    </div>
</DefaultPageLayout>