<DefaultPageLayout>
    <div class = "flex-grow">                                                
        <div class = "mx-auto md:container my-10">
            <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm" class = "mx-10 space-y-4">
                <div class = "flex items-center space-x-4">
                    <div class = "w-24">
                        <label class = "flex-initial text-lg">Username: </label>    
                    </div>
                    <input formControlName="username" class = "flex-grow rounded-full" type="text"/>
                </div>
                
                <div class = "flex items-center space-x-4">
                    <div class = "w-24">
                        <label class = "flex-initial text-lg">Password: </label>    
                    </div>
                    
                    <input formControlName="password" class = "flex-grow rounded-full" type="password"/>
                </div>

                <div class = "flex items-center space-x-4">
                    <div class = "w-24">
                        <label class = "flex-initial text-lg">Confirm Password: </label>    
                    </div>
                    
                    <input formControlName="confirmPassowrd" class = "flex-grow rounded-full" type="password"/>
                </div>

                <button [ngClass] = "{
                    'cursor-default': !signUpForm.valid,
                    'bg-mizzou-gray': !signUpForm.valid,
                    'bg-mizzou-black': signUpForm.valid
                }" [disabled] = "!signUpForm.valid" class = "float-right text-white px-4 py-2 rounded-full">
                    Submit
                </button>
            </form>
        </div>
    </div>
</DefaultPageLayout>